.ink-drop-zone {
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
  color: var(--ink-internal-color);
  display: flex;
  inset: 0;
  justify-content: center;
  position: var(--ink-internal-modal-position);
  z-index: 10;
}

.ink-drop-zone:not(.visible) {
  display: none;
}

.ink-drop-zone-modal {
  background-color: var(--ink-internal-block-background-color);
  border-radius: var(--ink-internal-border-radius);
  box-sizing: border-box;
  height: 100%;
  max-height: 20rem;
  max-width: 40rem;
  padding: 1rem;
  position: relative;
  width: 100%;
}

.ink-drop-zone-hide {
  cursor: pointer;
  height: 1.75rem;
  position: absolute;
  right: 0.25rem;
  top: 0.25rem;
  width: 1.75rem;
}

.ink-drop-zone-hide svg {
  background-color: var(--ink-internal-block-background-color);
}

.ink-drop-zone-droppable-area {
  align-items: center;
  border: 0.2rem dashed var(--ink-internal-color);
  border-radius: 0.125rem;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  font-size: 1.25em;
  gap: 1rem;
  height: 100%;
  justify-content: center;
  padding: 1rem;
  text-align: center;
}

.ink-drop-zone-file-preview {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  max-width: 25.5rem;
}

.ink-drop-zone-file-preview-image {
  border: 0.125rem solid #222;
  border-radius: 0.125rem;
  box-sizing: border-box;
  height: 6rem;
  object-fit: cover;
  padding: 0.5rem;
  width: 6rem;
}
