{
  "extends": ["@antfu/ts", "plugin:solid/typescript"],
  "plugins": ["solid"],
  "rules": {
    "@typescript-eslint/member-delimiter-style": [
      2,
      {
        "multiline": {
          "delimiter": "comma"
        },
        "singleline": {
          "delimiter": "comma"
        }
      }
    ],
    "@typescript-eslint/no-use-before-define": [0, {}],
    "@typescript-eslint/brace-style": [2, "1tbs"],
    "antfu/if-newline": [0, {}],
    "curly": [0, {}],
    "multiline-ternary": [0, {}],
    "solid/components-return-once": [0, {}]
  },
  "overrides": [
    {
      "files": "./.github/**/*",
      "rules": {
        "yml/no-empty-mapping-value": [0, {}]
      }
    }
  ]
}
