{
  "extends": ["artisan", "plugin:solid/typescript"],
  "plugins": ["solid"],
  "rules": {
    "solid/components-return-once": ["off", {}]
  },
  "overrides": [
    {
      "files": ["./**/*.md/*.ts"],
      "rules": {
        "@typescript-eslint/no-unused-vars": ["off"]
      }
    },
    {
      "files": ["./src/index.tsx"],
      "rules": {
        "eslint-comments/no-unlimited-disable": ["off", {}]
      }
    },
    {
      "files": ["./types/**/*"],
      "rules": {
        "@typescript-eslint/no-namespace": ["off"]
      }
    }
  ]
}
