.ink {
  color: var(--ink-internal-color, inherit);
  display: flex;
  flex-direction: var(--ink-internal-flex-direction, column);
  gap: 1rem;
  padding: var(--ink-internal-editor-padding, 0);
}

.ink .cm-tooltip {
  background-color: var(--ink-internal-block-background-color);
  border-radius: var(--ink-internal-border-radius);
  font-family: inherit;
  padding: 0.25rem;
}

.ink .cm-tooltip.cm-tooltip-autocomplete ul {
  font-family: inherit;
}

.ink .cm-tooltip.cm-tooltip-autocomplete ul li.ink-tooltip-option {
  border-radius: var(--ink-internal-border-radius);
  padding: 0.25rem;
}

.ink .cm-tooltip.cm-tooltip-autocomplete ul li.ink-tooltip-option[aria-selected] {
  background-color: rgba(150, 150, 150, 0.25);
}

.ink .cm-completionLabel {
  font-family: inherit;
}

.ink-mde, .ink-mde * {
  box-sizing: border-box;
}

.ink-mde .ink-mde-editor-container {
  display: flex;
  flex-direction: column;
  gap: 2em;
}

.ink-mde .ink-mde-attribution {
  display: flex;
  font-size: 0.75em;
  justify-content: flex-end;
  opacity: 0.5;
}

.ink-mde .ink-mde-attribution-link {
  color: currentColor;
  font-weight: 600;
  text-decoration: none;
}

.ink-mde .ink-mde-task-toggle {
  cursor: pointer;
  height: 1rem;
  line-height: 2em;
  margin: 0 0.25rem 0 0;
  position: relative;
  top: -1px;
  vertical-align: middle;
  width: 1rem;
}

.ink-mde .cm-editor {
  display: flex;
  flex-direction: column;
  position: relative;
}

.ink-mde .cm-scroller {
  align-items: flex-start;
  display: flex;
  font-family: var(--ink-internal-font-family);
  font-size: var(--ink-internal-editor-font-size);
  line-height: var(--ink-internal-editor-line-height);
  overflow-x: auto;
  position: relative;
}

.ink-mde .cm-content {
  display: block;
  flex-grow: 2;
  flex-shrink: 0;
  margin: 0;
  outline: none;
  padding: 0;
  white-space: pre;
  word-wrap: normal;
}

.ink-mde .cm-lineWrapping {
  flex-shrink: 1;
  overflow-wrap: anywhere;
  white-space: break-spaces;
  word-break: break-word;
}

.ink-mde .cm-line {
  font-family: var(--ink-internal-font-family);
  padding: 0;
}

.ink-mde .cm-line.cm-blockquote {
  background-color: var(--ink-internal-block-background-color);
  border-left: 0.25rem solid currentColor;
  padding: 0 var(--ink-internal-block-padding);
}

.ink-mde .cm-line.cm-blockquote.cm-blockquote-open {
  border-top-left-radius: var(--ink-internal-border-radius);
  border-top-right-radius: var(--ink-internal-border-radius);
  padding-top: var(--ink-internal-block-padding);
}

.ink-mde .cm-line.cm-blockquote.cm-blockquote-close {
  border-bottom-left-radius: var(--ink-internal-border-radius);
  border-bottom-right-radius: var(--ink-internal-border-radius);
  padding-bottom: var(--ink-internal-block-padding);
}

.ink-mde .cm-line.cm-codeblock {
  background-color: var(--ink-internal-block-background-color);
  font-family: var(--ink-internal-code-font-family);
  padding: 0 var(--ink-internal-block-padding);
}

.ink-mde .cm-line.cm-codeblock.cm-codeblock-open {
  border-radius: var(--ink-internal-border-radius) var(--ink-internal-border-radius) 0 0;
  padding-top: var(--ink-internal-block-padding);
}

.ink-mde .cm-line.cm-codeblock.cm-codeblock-close {
  border-radius: 0 0 var(--ink-internal-border-radius) var(--ink-internal-border-radius);
  padding-bottom: var(--ink-internal-block-padding);
}

.ink-mde .cm-line .cm-code {
  background-color: var(--ink-internal-block-background-color);
  font-family: var(--ink-internal-code-font-family);
  padding: var(--ink-internal-inline-padding) 0;
}

.ink-mde .cm-line .cm-code.cm-code-open {
  border-radius: var(--ink-internal-border-radius) 0 0 var(--ink-internal-border-radius);
  padding-left: var(--ink-internal-inline-padding);
}

.ink-mde .cm-line .cm-code.cm-code-close {
  border-radius: 0 var(--ink-internal-border-radius) var(--ink-internal-border-radius) 0;
  padding-right: var(--ink-internal-inline-padding);
}

.ink-mde .cm-image-backdrop {
  background-color: var(--ink-internal-block-background-color);
}
