.ink-mde .ink-mde-toolbar {
  background-color: var(--ink-internal-block-background-color);
  color: inherit;
  display: flex;
  flex-shrink: 0;
  overflow-x: auto;
  padding: 0.25rem;
}

.ink-mde .ink-mde-toolbar .ink-mde-container {
  display: flex;
  gap: 2rem;
}

.ink-mde .ink-mde-toolbar-group {
  display: flex;
}

.ink-mde .ink-mde-toolbar .ink-button {
  align-items: center;
  background: none;
  border: none;
  border-radius: var(--ink-internal-border-radius);
  color: inherit;
  cursor: pointer;
  display: flex;
  height: 2.25rem;
  justify-content: center;
  padding: 0.4rem;
  width: 2.25rem;
}

.ink-mde .ink-mde-toolbar .ink-button:hover {
  background-color: var(--ink-internal-block-background-color-on-hover);
}

.ink-mde .ink-mde-toolbar .ink-button > * {
  align-items: center;
  display: flex;
  height: 100%;
}
